[user]
	name = "Takuma HANATANI"
	email = "mail@potato4d.me"
[core]
	excludesfile = ~/.gitignore_global
	editor = micro
[include]
	path = ~/.gitconfig.local
[gpg]
	program = gpg2
[commit]
	gpgsign = false
[alias]
	psuh = push
[ghq]
  root = ~/Desktop/Clients
[diff "sketchtool"]
  textconv = "sketchtool dump"
  cachetextconv = true
  binary = true
